@font-face {
  font-family: "Tania";
  src: url(./fuentes/Poppins-Light.ttf);
}

@font-face {
  font-family: "Tania2";
  src: url(./fuentes/Poppins-Medium.ttf);
}

* {
  font-family: "Tania2";
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1400px;
  margin-right: 12%;
}

body {
  background-color: #FD9B65;
}

header {
  width: 100%;
  
  
}

header nav{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav img {
  width: 20%;
  
}

.links {
  display: flex;
  gap: 15px;
}

.links .link {
  color: white;
  font-size: 0.5rem;
  text-decoration: none;
  padding: 6px 0;
  transition: all 0, 3s;
}

.links .link:hover {
  transform: scale(1.1);
}


.links .link.active {
  border-radius: 20px;
  background-color: white;
  color: #FD9B65;
  padding: 6px 20px;
}




.mascotas {
  
 
  
  
  position: absolute;
  bottom: 40%;
  left: 40%;
  width: 60%;
}

.main-page {
  background-color: black;
  
}





  
  
  
  


























/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tania2";
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}

.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  height: 90px;
}
.header .logo img {
  height: 150px;
  width: 150px;
  margin-left: 30px;
  margin-top: 8px;
  transition: all 0, 3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.header .logo {
  cursor: pointer;
}

.header .nav-links {
  list-style: none;
  margin-right: auto;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  color: black;
  text-decoration: none;
}

.header .nav-links a:hover {
  color: #f7b23a;
}

.logito1 img {
  width: 17px;
  cursor: pointer;

  margin-left: 290px;

  transition: all 0, 3s;
}

.logito1 img:hover {
  transform: scale(1.1);
}
.logito2 img {
  height: 17px;
  cursor: pointer;
  transition: all 0, 3s;
}
.logito2 img:hover {
  transform: scale(1.1);
}

.iniciar-sesion a{
  display: inline-block;
  text-decoration: none;
  color: #f7b23a;
  transition: all 0, 3s;
}

.iniciar-sesion a:hover {
  transform: scale(1.1);
}

.header .boton button {
  display: inline-block;
  width: 120px;

  height: 35px;
  background: #f7b23a;
  color: white;
  border: none;
  border-radius: 30px;
  margin-right: 30px;
  cursor: pointer;
  transition: all 0, 3s;
}

.header .boton button:hover {
  transform: scale(1.1);
}

.buscar {
  position: absolute;
  left: 750px;
  
}

.buscar input {
margin-left: 50px;


  width: 220px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background: white;

  transition: all 0.6s ease;
  font-family: "Tania";
  font-size: 15px;
}




.hero__texts {
  position: absolute;
  top: 200px;
  left: 150px; 
}

.hero__title{
  font-size: 50px;
}

.otro-color{
  
  font-size: 50px;
  color: #f7b23a;
}

.hero__paragraph{
  font-size: 18px;
  margin: 0 0 35px 0;
 
  
}

.otro-color2{
color: #f7b23a;
font-size: 18px;
}

.btn button{
width: 200px;
height: 35px;

  font-size: 20px;
  background-color:#f7b23a;
  color: white;
  border: none;
  
  cursor: pointer;
  transition: all 0, 3s;
}

.btn button:hover{
  transform: scale(1.1);
}



.hero__picture {
  position: absolute;
  top:70px;
  right: 150px;
  
} */



.hero__picture img{
  display: inline-block;
  width: 550px;
  height: 550px;
}



  
  
